<% include partials/header.ejs %>
<div class="container">
    <% if (message) { %>
        <p class="text-center text-danger"><%= message %></p>
    <% } %>

    <% if (player) { %>
        <form class="add-player-form" action="" method="post" enctype="multipart/form-data">
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="first-name">Nombre</label>
                    <input type="text" class="form-control" name="first_name" id="first-name" value="<%= player.first_name %>" required>
                </div>
                <div class="form-group col-md-4">
                    <label for="last-name">Apellido</label>
                    <input type="text" class="form-control" name="last_name" id="last-name" value="<%= player.last_name %>" required>
                </div>
                <div class="form-group col-md-4">
                    <label for="username">Usuario</label>
                    <input type="text" class="form-control" name="username" id="username" value="<%= player.user_name %>" required disabled title="Username can't be changed">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="number">Número</label>
                    <input type="number" class="form-control" name="number" id="number" placeholder="Number" value="<%= player.number %>" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="position">Posición</label>
                    <select id="position" name="position" class="form-control" required>
                        <option selected><%= player.position %></option>
                        <option>Arquero</option>
                        <option>Defensa central</option>
                        <option>Defensa derecho</option>
                        <option>Defensa izquierdo</option>
                        <option>Mediocampista defensivo</option>
                        <option>Volante central</option>
                        <option>Mediocampista ofensivo</option>
                        <option>Extremo derecho</option>
                        <option>Extremo izquierdo</option>
                        <option>Delantero</option>
                    </select>
                </div>
            </div>
            <button type="submit" class="btn btn-success float-right">Editar jugador</button>
        </form>
    <% } else { %>
        <p class="text-center">Jugador no encontrado. Dirijase <a href="/add">aquí</a> para agregar un jugador.</p>
    <% } %>
</div>
</div>
</body>
</html>